<section id="rsvp" class="rsvp container-fluid">
    <app-nav></app-nav>
    <div class="row p-5">
        <div class="col-sm-12 text-white text-center pt-5 pb-5">
            <h1 class="p-5 text-uppercase">
                RSVP
            </h1>
        </div>
    </div>
 </section>
 <section id="rsvp-area" class="container-fluid">
    <div class="row pt-5 pb-3">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase medium">
                We look forward to seeing you soon!
            </h6>
            <p class="p-2">Please complete the form for <span class="bold">only</span> the people addressed on the invitation.</p>
            <p class="pb-4"><span class="medium">Note:</span> We love your kids, but due to guest limit restrictions, we won't be able to accommodate them.<br> Thank you for your understanding!</p>
        </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdwe5iG8xc7-D8CMT6rtTGqEGvZzMdpLd9cnSrEteRvZ9j7JA/viewform?embedded=true" width="100%" height="1297" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
 </section>
 <app-footer></app-footer>