<section id="rsvp" class="rsvp container-fluid">
    <app-nav></app-nav>
    <div class="row p-5">
        <div class="col-sm-12 text-white text-center pt-5 pb-5">
            <h1 class="p-5 text-uppercase">
                RSVP
            </h1>
        </div>
    </div>
 </section>
 <section id="rsvp-area" class="container-fluid">
    <div class="row pt-5 pb-3">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase medium">
                We look forward to seeing you soon!
            </h6>
            <p class="p-2">RSVP is now <span class="bold">closed</span>. See you on April 5th!</p>
        </div>
    </div>
 </section>
 <app-footer></app-footer>