<section id="itinerary" class="itinerary container-fluid">
    <app-nav></app-nav>
    <div class="row p-5">
        <div class="col-sm-12 text-white text-center pt-5 pb-5">
            <h1 class="p-5 text-uppercase">
                Itinerary
            </h1>
        </div>
    </div>
 </section>
 <section id="arrival" class="container-fluid">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase">
                Arrival
            </h6>
            <h2 class="pt-2">
                2:30 PM
            </h2>
            <p class="pt-3">Enjoy a drink while you wait for the ceremony to start!</p>
        </div>
    </div>
 </section>
 <section id="ceremony" class="container-fluid green-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Ceremony
            </h6>
            <h2 class="pt-2">
                3:00 PM - 3:30 PM
            </h2>
        </div>
    </div>
 </section>
 <section id="cocktail-hour" class="container-fluid red-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Cocktails & Hors D'oeuvres Hour
            </h6>
            <h2 class="pt-2">
                3:30 PM - 4:30 PM
            </h2>
            <p class="pt-3">Find your table number and enjoy appetizers inspired by the rich culinary traditions of Peru and Colombia. Also don't forget to get a drink!</p>
        </div>
    </div>
 </section> 
 <section id="grand-entrance" class="container-fluid brown-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Grand Entrance
            </h6>
            <h2 class="pt-2">
                4:30 PM - 5:00 PM
            </h2>
            <p class="pt-3">Join us as we share our first dance and first song as a married couple. We will be having a dance with our parents as well!</p>
        </div>
    </div>
 </section> 
 <section id="buffet-toasts" class="container-fluid orange-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Buffet & Toasts
            </h6>
            <h2 class="pt-2">
                5:00 PM - 6:00 PM
            </h2>
            <p class="pt-3">Enjoy our delicious Peruvian buffet, listen to heartfelt toasts, and raise a glass to the newly married couple!</p>
        </div>
    </div>
 </section> 
 <section id="pics-cake" class="container-fluid pink-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase">
                Group Pictures & Cut Cake
            </h6>
            <h2 class="pt-2">
                6:00 PM
            </h2>
        </div>
    </div>
 </section> 
 <section id="pics-cake" class="container-fluid green-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Dessert Bar Opens & Party
            </h6>
            <h2 class="pt-2">
                6:15 PM - 10:30 PM
            </h2>
        </div>
    </div>
 </section> 
 <section id="pics-cake" class="container-fluid">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase">
                Reception Ends
            </h6>
            <h2 class="pt-2">
                10:30 PM
            </h2>
        </div>
    </div>
 </section> 
 <app-footer></app-footer>