<nav class="navbar navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand px-2" [routerLink]="['/']"><img src="dp-logo.png" class="logo" alt="DP Logo"/></a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="n_bar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/itinerary']">Itinerary</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/location']">Location</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/gifts']">Gifts</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/faq']">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/rsvp']">
                    <span class="bold">RSVP</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>