<section id="gifts" class="gifts container-fluid">
    <app-nav></app-nav>
    <div class="row p-5">
        <div class="col-sm-12 text-white text-center pt-5 pb-5">
            <h1 class="p-5 text-uppercase">
                Gifts
            </h1>
        </div>
    </div>
 </section>
 <section id="gifts-intro" class="container-fluid">
    <div class="row pt-5 pb-3">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase medium">
                Thank you for considering giving us a gift!
            </h6>
            <p class="p-2">Your presence and best wishes are the most important gifts of all. If you would like to contribute in another way, a monetary gift would be appreciated as we build our life together.</p>
        </div>
    </div>
 </section>
 <section id="ways-to-contribute" class="container-fluid green-background">
    <div class="row pt-5 pb-3">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Wayts to Contribute
            </h6>
        </div>
    </div>
    <div class="row text-white p-3">
        <div class="col-md-6 text-center">
            <h1 class="pt-2">
               1
            </h1>
            <p class="pt-3 pb-4">Hand-deliver a cash or check<br> in an envelope to us at the wedding</p>
        </div>
        <div class="col-md-6 text-center">
            <h1 class="pt-2">
                2
            </h1>
            <p class="pt-3 pb-4">Zelle your contribution to the phone number<br> (954) 882-2324</p>
        </div>
    </div>
 </section>
 <app-footer></app-footer>