<section id="location" class="location container-fluid">
    <app-nav></app-nav>
    <div class="row p-5">
        <div class="col-sm-12 text-white text-center pt-5 pb-5">
            <h1 class="p-5 text-uppercase">
                Location
            </h1>
        </div>
    </div>
 </section>
 <section id="directions" class="container-fluid">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase medium">
                Directions
            </h6>
            <p class="p-3">Our venue is only a short 12-minute ride from the airport and a 10-minute ride from the Lake Nona Town Center! You can take an Uber/Lyft to the location or drive there. Please enter by the Bicky Rd Entrance.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d969.5068872913989!2d-81.30237133753486!3d28.360113120895893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd890007c3af6b%3A0xb79e941b409d94ef!2sWanderlust%20Okto!5e1!3m2!1sen!2sus!4v1731603101389!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
 </section>
 <section id="venue-info" class="container-fluid brown-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Venue Information
            </h6>
            <h2 class="pt-2">
                Wanderlust Okto
            </h2>
            <p class="pt-3">6551 New Hope Rd<br>Orlando, FL 32824</p>
            <p class="medium">Parking On<br><span class="regular">Bicky Rd Entrance</span></p>
        </div>
    </div>
 </section>
 <section id="out-of-town" class="container-fluid">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h6 class="p-1 text-uppercase medium">
                Out of Town?
            </h6>
            <p class="p-2">There are plenty of hotels and AirBnbs available near the area of Lake Nona!</p>
            <p class="medium">Here are some hotels we recommend:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h6 class="p-1 text-uppercase">
                <a href="https://www.marriott.com/en-us/hotels/mcosn-springhill-suites-orlando-lake-nona/overview/" target="_blank">Springhill Suites Orlando Lake Nona</a>
            </h6>
            <p class="pt-3">13700 Boggy Creek Rd<br>Orlando, FL 32824</p>
        </div>
        <div class="col-md-6 text-center">
            <h6 class="p-1 text-uppercase">
                <a href="https://www.marriott.com/en-us/hotels/mcoln-residence-inn-orlando-lake-nona/overview/" target="_blank">Residence Inn Orlando Lake Nona</a>
            </h6>
            <p class="pt-3">6955 Lake Nona Blvd<br>Orlando, FL 32827</p>
        </div>
    </div>
    <div class="row pt-3 pb-5">
        <div class="col-md-6 text-center">
            <h6 class="p-1 text-uppercase">
                <a href="https://www.lakenonawavehotel.com/" target="_blank">Lake Nona Wave Hotel</a>
            </h6>
            <p class="pt-3">6100 Wave Hotel Dr,<br>Orlando, FL 32827</p>
        </div>
        <div class="col-md-6 text-center">
            <h6 class="p-1 text-uppercase">
                <a href="https://www.marriott.com/en-us/hotels/mconl-aloft-orlando-lake-nona/overview/" target="_blank">Aloft Orlando Lake Nona</a>
            </h6>
            <p class="pt-3">7215 Corner Dr,<br>Orlando, FL 32827</p>
        </div>
    </div>
 </section>
 <section id="other-questions" class="container-fluid orange-background">
    <div class="row pt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-white text-center">
            <h6 class="p-1 text-uppercase">
                Any questions?
            </h6>
            <p class="p-2">Please reach out to us ahead of time if you need any help with accommodations!</p>
        </div>
    </div>
 </section>
 <app-footer></app-footer>