<footer class="bg-black text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center align-self-md-center">
          <p>We hope you can join us!</p>
          <p class="medium">Darwin & Perlita</p>
        </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
            <a [routerLink]="['/itinerary']">Itinerary</a><br>
            <a [routerLink]="['/location']">Location</a><br>
            <a [routerLink]="['/gifts']">Gifts</a><br>
            <a [routerLink]="['/faq']">FAQ</a><br>
            <a [routerLink]="['/rsvp']">RSVP</a>
        </div>
      </div>
    </div>
      <div class="text-center p-1">
       <p>Made with <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
      </svg> by the Bride, © 2024</p> 
    </div>
  </footer>
