.home {
    padding: 15% 15% 20%;
    background: url("/wayta.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 150px) {
    .home {
        padding: 10% 15% 10%
    }
}