<section id="home" class="home">
    <div class="row">
        <div class="col-sm-12 text-white">
            <div class="col-sm-6">
                <!-- <p class="p-header">
                    Oops!
                </p> -->
                <h1 class="text-dark pb-3">
                    Oopsie!
                </h1>
                <h3 class="text-dark pb-3">
                    We are under construction.<br>See you soon!
                </h3>
                <!-- <p class="pb-2">
                    April 5th, 2025
                </p> -->
                <!-- <button type="button" class="btn btn-light">RSVP</button> -->
            </div>
        </div>
    </div>
</section>